# Ignorar carpetas y archivos generados por el sistema de construcción Maven
**/.git/
**/.idea/
**/.vscode/
.mvn/
**/mvnw
**/mvnw.cmd

# Permitir los jars compilados (necesarios para Docker)
!**/target/*.jar

# Ignorar archivos de IDEs
.idea/
.vscode/
*.iml
*.swp

# Ignorar logs y archivos temporales
*.log
tmp/

# Ignorar control de versiones
.git
.gitignore

# Ignorar el propio Dockerfile y Docker Compose
Dockerfile
docker-compose.yml
.dockerignore

# Ignorar archivos de configuración sensibles
*.env