# Git
.git
.gitignore

# IDEs
.idea
.vscode
*.iml

# Maven wrapper
.mvn
mvnw
mvnw.cmd

# Logs
*.log

# Temp
tmp/

# Ignorar SOLO archivos innecesarios dentro de target
**/target/classes/
**/target/test-classes/
**/target/generated-sources/
**/target/maven-status/

# PERMITIR jars
!**/target/*.jar